<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/chat.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
    <title>CHROMA</title>
</head>
<body>
    


<form action="/chat" method="post">
    <%  userlist.forEach(user=>{ %>
        <ul>
            <li><%=user.name%></li>
            <li><%=user.email%></li>
            <li><%=user.food%></li>
            <li><%=user.sport%></li>
        </ul>
        <input type="text" name="nickname">
        <button type="submit">Connect</button>
   <% }) %>
</form>
  


   



</body>
</html>