<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="question.css">
    <title>Document</title>
</head>

<body>
    <div class="main_div">
        <div class="left">
            <div class="content">
                <span>
                    <h1>Welcome To ULLU</h1>
                </span>
                <div class="img"></div>
            </div>
        </div>
        <div class="right">
            <section id="inner_div1">
                <h2 class="question">Questions come here</h2>
                <ul>
                    <li>
                        <input type="radio" name="answer" id="ans1" class="answer">
                        <label for="ans1" id="option1">Answer option</label>
                    </li>
                    <li>
                        <input type="radio" name="answer" id="ans2" class="answer">
                        <label for="ans2" id="option2">Answer option</label>
                    </li>
                    <li>
                        <input type="radio" name="answer" id="ans3" class="answer">
                        <label for="ans3" id="option3">Answer option</label>
                    </li>
                    <li>
                        <input type="radio" name="answer" id="ans4" class="answer">
                        <label for="ans4" id="option4">Answer option</label>
                    </li>
                </ul>
                <a href="#inner_div2" id="next" class="btn"><span>Next</span></a>
                <!-- <button id="next" class="btn"><span>Next</span></button> -->
            </section>
            <section id="inner_div2">
                <h2 class="question">Which cuisine do you like the most? 🍟</h2>
                <ul>
                    <li>
                        <input type="radio" name="answer" id="ans1" class="answer">
                        <label for="ans1" id="option1">Indian</label>
                    </li>
                    <li>
                        <input type="radio" name="answer" id="ans2" class="answer">
                        <label for="ans2" id="option2">Chinese</label>
                    </li>
                    <li>
                        <input type="radio" name="answer" id="ans3" class="answer">
                        <label for="ans3" id="option3">Continental</label>
                    </li>
                    <li>
                        <input type="radio" name="answer" id="ans4" class="answer">
                        <label for="ans4" id="option4">Italian</label>
                    </li>
                </ul>
                <a href="#inner_div3" id="next" class="btn"><span>Next</span></a>
                <!-- <button id="next" class="btn"><span>Next</span></button> -->
            </section>
            <section id="inner_div3">
                <h2 class="question">Questions come here</h2>
                <ul>
                    <li>
                        <input type="radio" name="answer" id="ans1" class="answer">
                        <label for="ans1" id="option1">Answer option</label>
                    </li>
                    <li>
                        <input type="radio" name="answer" id="ans2" class="answer">
                        <label for="ans2" id="option2">Answer option</label>
                    </li>
                    <li>
                        <input type="radio" name="answer" id="ans3" class="answer">
                        <label for="ans3" id="option3">Answer option</label>
                    </li>
                    <li>
                        <input type="radio" name="answer" id="ans4" class="answer">
                        <label for="ans4" id="option4">Answer option</label>
                    </li>
                </ul>
                <button id="next" class="btn"><span>Next</span></button>
            </section>
            <section id="inner_div3">
                <h2 class="question">Questions come here</h2>
                <ul>
                    <li>
                        <input type="radio" name="answer" id="ans1" class="answer">
                        <label for="ans1" id="option1">Answer option</label>
                    </li>
                    <li>
                        <input type="radio" name="answer" id="ans2" class="answer">
                        <label for="ans2" id="option2">Answer option</label>
                    </li>
                    <li>
                        <input type="radio" name="answer" id="ans3" class="answer">
                        <label for="ans3" id="option3">Answer option</label>
                    </li>
                    <li>
                        <input type="radio" name="answer" id="ans4" class="answer">
                        <label for="ans4" id="option4">Answer option</label>
                    </li>
                </ul>
                <button id="next" class="btn"><span>Next</span></button>
            </section>
            <section id="inner_div3">
                <h2 class="question">Questions come here</h2>
                <ul>
                    <li>
                        <input type="radio" name="answer" id="ans1" class="answer">
                        <label for="ans1" id="option1">Answer option</label>
                    </li>
                    <li>
                        <input type="radio" name="answer" id="ans2" class="answer">
                        <label for="ans2" id="option2">Answer option</label>
                    </li>
                    <li>
                        <input type="radio" name="answer" id="ans3" class="answer">
                        <label for="ans3" id="option3">Answer option</label>
                    </li>
                    <li>
                        <input type="radio" name="answer" id="ans4" class="answer">
                        <label for="ans4" id="option4">Answer option</label>
                    </li>
                </ul>
                <button id="next" class="btn"><span>Next</span></button>
            </section>
            <section id="inner_div3">
                <h2 class="question">Questions come here</h2>
                <ul>
                    <li>
                        <input type="radio" name="answer" id="ans1" class="answer">
                        <label for="ans1" id="option1">Answer option</label>
                    </li>
                    <li>
                        <input type="radio" name="answer" id="ans2" class="answer">
                        <label for="ans2" id="option2">Answer option</label>
                    </li>
                    <li>
                        <input type="radio" name="answer" id="ans3" class="answer">
                        <label for="ans3" id="option3">Answer option</label>
                    </li>
                    <li>
                        <input type="radio" name="answer" id="ans4" class="answer">
                        <label for="ans4" id="option4">Answer option</label>
                    </li>
                </ul>
                <button id="next" class="btn"><span>Next</span></button>
            </section>

        </div>
    </div>
    <script src="script.js"></script>
</body>

</html>